header {
    background-color: aquamarine;
    padding-left: 15px;
    font-family: 'Orelega One', cursive;    
}
h2 {
    font-family: 'Orelega One', cursive;
    
}
body {
    background-color: whitesmoke;
    font-family: 'Mukta', sans-serif;
    
}
main {
    background-color: white;
    padding: 16px;
}
.finstagram-post {
    margin-bottom: 48px;
}
.finstagram-post .user-info img {
    border-radius: 50%;
}
a.photo{
    transition: padding 0.5s;
}
a.photo:hover{
    padding: 10px; transition: padding 0.5s;
}
h2:hover {
    color: greenyellow
}